#Application port
PORT=5007

#Queue Sever
HOST_RABBITMQ=localhost

#DATABASE SETTINGS
DATABASE_USER=CentinelaUsr
DATABASE_PASSWORD=**********
DATABASE_NAME=Centinela_Notifications
DATABASE_HOST=localhost
DATABASE_PORT=5432

#LOGGING
# Si el LOG_ENVIRONMENT es local, crea una carpeta para los logs en un archivo, y en consola
# Si el LOG_ENVIRONMENT es cloud, envia los logs utiliando syslog a un servicio cloud LOG_CLOUD_LOGGING_HOST y LOG_CLOUD_LOGGING_PORT y a consola
# Si el LOG_ENVIRONMENT es both, genera los logs en consola, localmente y en la nube
# Si el LOG_ENVIRONMENT es console, solo genera los logs en consola.
# Log levels ( error | warn | info | verbose | debug ) 
LOG_LEVEL=debug
LOG_ENVIRONMENT=cloud
LOG_LOCAL_FOLDER=./logs/
LOG_LOCAL_FILE_NAME=logs.log
LOG_LOCAL_EXCEPTION_FILE_NAME=exceptions.log
LOG_CLOUD_LOGGING_HOST=logs.papertrailapp.com
LOG_CLOUD_LOGGING_PORT=39799


# Token Verification Service URI
AUTHENTICATION_SERVICE_URI=http://localhost:5000/api/v1/authorization/validate

#FRONTEND
FRONT_END_MAIN_URL='http://localhost:4200'


#FOR SCHEDULED JOBS PROCESSING
#Frequency of scheduled job that will query for preferences and send reports. 
#The smaller the accurate with user preference but also more resource consumming
JOB_ALERT_FREQUENCY_MINUTES=10

#Hour of the day (0 - 23) that the daily report of unresolved bugs is sent 
JOB_DAILY_REPORT_HOUR=22
NUMBER_OF_DAYS_TO_RETRIEVE=2